<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Collegevalue · What's Worth It?</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body id="full_body">
      <header>
      <section>

        <nav class="md:flex items-center justify-between flex-wrap bg-darkgreen p-6 font-display">
          <div class="md:flex items-center flex-shrink-0 text-white mr-6">
            <%# <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg> %>
            <span class="font-semibold text-xl tracking-tight"><%= link "CollegeValue", to: "/", class: "no-underline text-plainlight" %></span>
          </div>
          <div class="md:block hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
          </div>
          <div class="md:w-full md:block md:flex-grow flex items-center w-auto">
            <div class="md:text-sm flex-grow">
              <div class="md:block md:mt-4 inline-block mt-0 text-teal-200 hover:text-white mr-4">
                <%= link "Colleges", to: "/colleges", class: "no-underline text-plainlight" %>
              </div>
              <div class="md:block md:mt-4 inline-block mt-0 text-teal-200 hover:text-white mr-4">
                <%= link "Top College Rankings", to: "/colleges/rank", class: "no-underline text-plainlight" %>
              </div>
              <div class="md:block md:mt-4 inline-block mt-0 text-teal-200 hover:text-white mr-4">
                <%= link "Fields", to: "/fields", class: "no-underline text-plainlight" %>
              </div>
              <div class="md:block md:mt-4 inline-block mt-0 text-teal-200 hover:text-white mr-4">
                <%= link "Top Field Rankings", to: "/fields/rank", class: "no-underline text-plainlight" %>
              </div>
            </div>
            <div>
              <div class="inline-block text-md px-8 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green mt-4 md:mt-0">

              </div>
            </div>
          </div>
        </nav>

      </section>
    </header>



    <main role="main" class="max-w-5xl mx-auto pt-1 px-4 font-body bg-white shadow-lg">
      <div class="pt-8">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

  </body>
</html>
