app = "collegevalue"
primary_region = "iad"

[build]

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "collegevalue.fly.dev"
  PHX_SERVER = "true"
  ECTO_IPV6 = "true"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
