/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css"
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css"

@tailwind base;

a {
    @apply text-green no-underline;
}

#full_body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2388d498' fill-opacity='0.16'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 767px) {
    
    tr { 
        padding-bottom: 4px;
        border-bottom: 2px solid #1a936f; 
    }

    tbody td {
        padding-left: 50% !important;
    }

    tbody td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    tbody .college-field:before {
        content: "College: ";
    }

    tbody .field-field:before {
        content: "Field: ";
    }

    tbody .admissions-field:before {
        content: "Admissions Rate: ";
    }

    tbody .sat-field:before {
        content: "Average SAT Score: ";
    }

    tbody .debt-field:before {
        content: "Debt Mean: ";
    }

    tbody .earnings-field:before {
        content: "Earnings: ";
    }

    tbody .diff-field:before {
        content: "Difference: ";
    }

}


@tailwind components;

@tailwind utilities;
