/* This file is for your main application css. */

/* @import "./phoenix.css"; */
/* @import "../../deps/phoenix_live_view/assets/css/live_view.css"; */
/* @import "../../node_modules/@fortawesome/fontawesome-free/css/all.css"; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*  #1A936F */
/*  #114B5F */
/*  #E5E7EB */

a {
    @apply  no-underline;
}

blockquote {
    padding: 1em;
    margin: 1em;
    width: 96%;

    background: linear-gradient(135deg,rgba(255,255,255,0.6) 0%,rgba(26,147, 111,0.4) 200%);
    border-radius: 8px;
    /* background-color: rgba(26 147 111, 0.3); */

    @media (min-width: 768px) {
        padding: 1em;
        margin: 1em;
        width: 92%;
    }

}

#topMenu {
    display:block;
    /* transform: translateY(-100%);
    will-change: transform;
    transition: .3s transform linear;
    z-index: 1; */
}

#toggle-menu:checked ~ #topMenu {
    display:none;
}

#full_body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2388d498' fill-opacity='0.16'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    color: white;
    font-size: 12px;
    background-color: rgb(26,147, 111);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

@media (hover: hover) {

    .hover-text:hover .tooltip-text {
            visibility: visible;
            width: auto;
            height: auto;
            min-width: 300px;
            
            top: -40px;
            left: 100%;
        }

}

.tooltip-text-left {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    color: white;
    font-size: 12px;
    background-color: rgb(26,147, 111);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

@media (hover: hover) {

    .hover-text:hover .tooltip-text-left {
            visibility: visible;
            width: auto;
            height: auto;
            min-width: 300px;
            max-width: 400px;
            
            top: -10px;
            left: -150%;
        }

}

.hover-text {
    position: relative;
    display: inline-block;
    font-family: Avenir;
    text-align: center;
}
  

.search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
}

.search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 16px;
    border: 0;
    width: 100%;
    color: darkgreen;
}

.searching {
    position: absolute;
    right: 174px;
    top: 8px;
    color: green;
    outline: 0;
}

.search-button {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: rgb(26 147 111);
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
}

@media (max-width: 767px) {
    
    ul {
        padding-inline-start: 8px;
    }

    tr { 
        padding-bottom: 4px;
        border-bottom: 2px solid #1a936f; 
    }

    tbody td {
        padding-left: 50% !important;
    }

    tbody td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    tbody .college-field:before {
        content: "College: ";
    }

    tbody .field-field:before {
        content: "Field: ";
    }

    tbody .admissions-field:before {
        content: "Admissions Rate: ";
    }

    tbody .sat-field:before {
        content: "Average SAT Score: ";
    }

    tbody .debt-field:before {
        content: "Debt Mean: ";
    }


    tbody .debtmin-field:before {
        content: "Debt Min: ";
    }


    tbody .debtmax-field:before {
        content: "Debt Max: ";
    }

    tbody .earnings-field:before {
        content: "Earnings: ";
    }

    tbody .earnmin-field:before {
        content: "Earnings Min: ";
    }

    tbody .earnmax-field:before {
        content: "Earnings Max: ";
    }

    tbody .diff-field:before {
        content: "Difference: ";
    }

    tbody .cost-field:before {
        content: "Cost: ";
    }

    tbody .payoff-field:before {
        content: "Payoff: ";
    }
    
    tbody .major-field:before {
        content: "Major: ";
    }


    tbody .cred-field:before {
        content: "Credential: ";
    }

    tbody .debtmed-field:before {
        content: "Debt Median: ";
    }

    tbody .city-field:before {
        content: "City: ";
    }

    tbody .state-field:before {
        content: "State: ";
    }

    tbody .opeid-field:before {
        content: "OPEID: ";
    }

    tbody .unitid-field:before {
        content: "Unit: ";
    }

    tbody .control-field:before {
        content: "Control: ";
    }
    tbody .accred-field:before {
        content: "Accreditation: ";
    }
}

